<table width='640' border='0' align='center' cellpadding='0' cellspacing='1' bgcolor='#999999'>
    <tbody>
        <tr>
            <td>
                <table width='640' border='0' cellpadding='0' cellspacing='0' bgcolor='#FFFFFF'>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height='30'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <table width='600' border='0' align='center' cellpadding='0' cellspacing='0'>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3>
                                                    <strong><font color='#000066'>Transaction Alert</font></strong>
                                                </h3>
                                                <br>Dear NABEEL AHMED JAMEEL<br><br>
                                                A Debit transaction of PKR "$arbic" was made in your Account No: "$arbic" (NABEEL AHMED JAMEEL) in MAIN MARKET GULBERG, LAHORE branch on Friday, 13 Apr 2018 at&nbsp; 9:11AM.
                                                <br>
                                                <br>
                                               Transaction description :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;CASH WITHDRAWAL "$arbic"
                                               <br>
                                               Instrument / Cheque# &nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;"$arbic"<br>
                                               <br>
                                               If you need any further assistance, please contact our HelpLine on "$arbic". <br>
                                               <br>A"$arbic"<br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height='30'>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>